/*LAYOUT*/
body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/*HEADER*/
.header{
	width: 100%;
	padding: 30px 0;
	background: var(--color2);
	text-align: center;
	
}

/*ARTICLE*/
.main{
	display: flex;
	width: 100%;
	padding: var(--gap);
	flex-flow: row wrap;
	flex-grow: 1;
}
.article{
	width: 100%;
	padding: calc(var(--gap) * 2);
}
.sidebar{
	width: 100%;
	padding: calc(var(--gap) * 2);
}
@media screen and (min-width: 700px){
	.article{
		width: 70%;
	}
	.sidebar{
		width: calc(30% - var(--gap));
		margin-left: var(--gap);
	}
}
.main-title{
	color: var(--color2);
	text-align: center;
}

/*FOOTER*/
.footer{
	width: 100%;
	padding: 30px 0;
	background: var(--color2);
	text-align: center;
}
