/*LAYOUT*/
body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
}

/*HEADER*/
.header{
	display: flex;
	width: 100%;
	padding: 30px 0;
	background: var(--color2);
	justify-content: center;
	align-items: center;
	
}
.blog-title{
	display: block;
	width: 100%;
	font-size: 1.8rem;
	text-align: center;
}
.blog-title a{
	color: var(--color1);
	text-decoration: none;
}

/*ARTICLE*/
.main{
	display: flex;
	width: 100%;
	padding: var(--gap);
	flex-flow: row wrap;
	flex-grow: 1;
}
.article, .sidebar{
	width: 100%;
	padding: calc(var(--gap) * 2);
}
@media screen and (min-width: 700px){
	.article{
		width: 70%;
	}
	.sidebar{
		width: calc(30% - var(--gap));
		margin-left: var(--gap);
	}
}
.main-title{
	font-size: 1.5rem;
	color: var(--color2);
	text-align: center;
}
.article a{
	display: block;
	width: 90%;
	margin: var(--gap) auto;
}
.article-item{
	width: 100%;
	padding: var(--gap);
	border: solid 3px var(--color2);
	color: var(--color2);
	text-decoration: none;
	border-radius: var(--radius);
}
.article-title{
	font-size: 1.2rem;
}

/*FOOTER*/
.footer{
	width: 100%;
	padding: 30px 0;
	background: var(--color2);
	text-align: center;
}

/*NAVI-OPTION*/
#navOption{
	display: flex;
	position: fixed;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	align-items: center;
}

/*THEME*/
.theme-button{
	display: flex;
	position: fixed;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	line-height: 1;
	background: linear-gradient(var(--color2) 0%, var(--color3) 100%);
	color: var(--color1);
	border: 3px solid var(--color1);
	border-radius: 50%;
	z-index: 1;
	align-items: center;
	justify-content: center;
}
/*MODAL*/
.modal-back{
	display: flex;
	position: fixed;
	width: 100vw;
	height: 100vh;
	inset: 0;
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(2px);
	z-index: 2;
	align-items: center;
	justify-content: center;
}
.modal-window{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: min(90vw, 400px);
	padding: 20px 10px;
	background: var(--color2);
	color: var(--color1);
	word-break: break-all;
	border-radius: var(--radius);
}

/*TOAST*/
.toast{
	position: fixed;
	bottom: 1vh;
	padding: var(--gap) calc(var(--gap) * 3);
	border-radius: var(--radius);
	background: rgba(255, 255, 255, 0.6);
	color: rgba(0, 0, 0, 1);
	z-index: 3;
}
.close{
	display: none;
}
