
/*RESET*/
fieldset{
	all: unset;
}
*, ::before, ::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
}
/*ROOT*/
:root{
	--white: #E4DAD9;
	--black: #021e1e;
	--gray: #808080;
	--color1: #021e1e;
	--color2: #e4dad9;
	--color3: #e1a600;

	--height: 2.5rem;
	--gap: 1vw;
	--radius: 4px;
}
@media screen and (min-width: 700px) {
	:root{
		--gap: 0.5vw;
	}
}

/*MAIN*/
html{
	font: bold min(3vw, 14px) / 2 sans;
	color: var(--color1);
}
body{
	min-height: 100vh;
	background: var(--color1);
}

/*COMPONENTS*/
::selection{
	color: var(--color1);
	background-color: var(--color3);
}
/*PALAGRAPH*/
p{
	text-indent: 1em;
}
/*LINK*/
a{
	color: var(--color3);
}
/*FORM*/
/*FIELDSET*/
fieldset{
	display: block;
	box-sizing: border-box;
	margin: calc(var(--gap) * 2) var(--gap);
	padding: calc(var(--gap) * 2);
	padding-top: 0;
	background-color: var(--color2);
	border: none;
	border-radius: var(--radius);
}
legend{
	padding: var(--gap) calc(var(--gap) * 2);
	background-color: var(--color2);
	font-size: 1.2em;
	color: var(--color1);
	border-radius: var(--radius);
}
/*INPUT*/
input[type="text"], input[type="number"], textarea{
	padding: 4px;
	background: transparent;
	color: var(--color1);
	border: 3px solid var(--color1);
	border-radius: var(--radius);
	caret-color: var(--color2);
	appearance: none;
	outline: none;
}
input[type="text"]::placeholder, 
input[type="number"]::placeholder,
textarea::placeholder{
	color: var(--color1);
	opacity: 0.8;
}
input[type="text"]:hover, input[type="text"]:focus, 
input[type="number"]:hover, input[type="number"]:focus,
textarea:hover, textarea:focus{
	background-color: var(--color1);
	color: var(--color2);
	border-color: var(--color1);
}
input[type="text"]:hover::placeholder, input[type="text"]:focus::placeholder, 
input[type="number"]:hover::placeholder, input[type="number"]:focus::placeholder,
textarea:hover::placeholder, textarea:hover::placeholder{
	color: var(--color2);
}
input[type="text"]:invalid, 
input[type="number"]:invalid, 
textarea:invalid, 
select:invalid{
	background-color: var(--color3);
	border-color: var(--color3);
	caret-color: var(--color1);
}
input[type="text"]:invalid:hover, input[type="text"]:invalid:focus,
input[type="number"]:invalid:hover, input[type="number"]:invalid:focus,
textarea:invalid:hover, textarea:invalid:focus{
	background-color: var(--color1);
	border-color: var(--color3);
	caret-color: var(--color2);
}
input[type="text"]:disabled, 
input[type="number"]:disabled, 
textarea:disabled{
	border-color: var(--gray);
	color: var(--gray);
	opacity: 0.9;
}
input[type="text"]:disabled::placeholder, 
input[type="number"]:disabled::placeholder, 
textarea:disabled::placeholder{
	color: var(--gray);
	opacity: 0.9;
}
input[type="radio"], input[type="checkbox"]{
	width: 0;
	height: 0;
	opacity: 0;
}
input[type="radio"] + label{
	display: inline-flex;
	padding: 0 3px;
	color: var(--color1);
	align-items: center;
	border: 5px double var(--color1);
	border-radius: var(--radius);
}
input[type="radio"]:hover + label, 
input[type="radio"]:focus + label{
	color: var(--color3);
	border-color: var(--color3);
}
input[type="radio"]:checked + label{
	background-color: var(--color1);
	color: var(--color2);
	border-color: var(--color1);
}
input[type="radio"]:disabled + label{
	border-color: var(--gray);
	color: var(--gray);
	opacity: 0.9;
}
input[type="checkbox"] + label{
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: var(--color3);
	border-radius: var(--radius);
}
input[type="checkbox"]:checked + label{
	background-color: var(--color1);
}
input[type="checkbox"]:disabled + label{
	background-color: var(--gray);
	opacity: 0.9;
}
input[type="checkbox"]:checked + label::before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40%;
	height: 4px;
	background-color: var(--color2);
	border-radius: var(--radius);
	transform: translate(-6px, 5px) rotateZ(-135deg);
	transform-origin: 2px 2px;
}
input[type="checkbox"]:checked + label::after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 76%;
	height: 4px;
	background-color: var(--color2);
	border-radius: var(--radius);
	transform: translate(-6px, 5px) rotateZ(-45deg);
	transform-origin: 2px 2px;
}
/*BUTTON*/
button{
	padding: var(--gap);
	background: transparent;
	border: 3px solid var(--color1);
	border-radius: var(--radius);
	outline: none;
	transition-duration: 0.1s;
}
button:hover, button:focus{
	background-color: var(--color1);
	transform: scale(0.9);
}
button:disabled{
	border-color: var(--gray);
	color: var(--gray);
	background-color: transparent;
	opacity: 0.9;
}
/*SELECT*/
select{
	background-color: transparent;
	color: var(--color1);
	text-overflow: ellipsis;
	border: 3px solid var(--color1);
	border-radius: var(--radius);
	outline: none;
}
select:hover, select:focus{
	background-color: var(--color1);
	color: var(--color2);
	border-color: var(--color1);
}
select:disabled{
	border-color: var(--gray);
	color: var(--gray);
	opacity: 0.9;
}

/*THEME*/
.theme-button{
	display: flex;
	position: fixed;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	line-height: 1;
	background: linear-gradient(var(--color2) 0%, var(--color3) 100%);
	color: var(--color1);
	border: 3px solid var(--color1);
	border-radius: 50%;
	z-index: 1;
	align-items: center;
	justify-content: center;
}
